.realization {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__text {
    padding-top: 2em;
    text-align: center;
    font-size: 15px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    p {
      line-height: 20px;
      font-size: 15px;
    }
  }
  &__cards {
    font-size: 15px;
    margin-bottom: 20vh;
  }

  .card {
    color: #5e5e5e;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    background-color: #f4f4f4;
    margin: 1em 0;

    &__img {
      width: 100%;
      cursor: pointer;
      transition: 0.4s;
      &-wrapper {
        overflow: hidden;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
    &__text {
      padding: 0 1.5em 2em;

      h4 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: 500;
      }

      ul {
        padding: 0;
        list-style: none;
        li {
          font-weight: 400;
          font-size: 0.9em;
          margin: 0.1em;
          margin-left: 2em;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: -20px;
            transform: translate(-50%, -50%);
            height: 0.5em;
            width: 0.5em;
            background-color: #5e5e5e;
          }
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .realization {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__text {
      padding-top: 4em;
      text-align: center;
      font-size: 16px;
      padding-bottom: 4em;
    }
    &__cards {
      font-size: 15px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .card {
      color: #393939;
      box-shadow: 0 35px 35px -25px rgba(10, 10, 10, 0.1);
      margin: 1em 1em;
      &__text {
        padding: 0 2em 2em;
        text-align: left;
      }
    }
  }
}
