h2 {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 1.5em;
    left: 50%;
    transform: translate(-50%);
    background-color: #028fcc;
    height: 0.2em;
    width: 5em;
  }
  margin-bottom: 1.8em;
  margin-top: 0.7em;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__text {
    padding-top: 2em;
    text-align: center;
    font-size: 15px;
  }
  &__cards {
    font-size: 15px;
  }
}

.card {
  color: #5e5e5e;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin: 1em 0;
  transition: 0.1s;

 
  &__img {
    height: 350px;
    cursor: pointer;
    &-wrapper {
      width: 100%;
      object-fit: cover;
    }
  }
  &__text {
    padding: 0 1.5em 2em;

    &-main {
      margin: 1em 0.5em 0.5em;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    &-item {
      font-weight: 400;
      font-size: 0.9em;
      margin: 0.1em;
      margin-left: 2em;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: -20px;
        transform: translate(-50%, -50%);
        height: 0.5em;
        width: 0.5em;
        background-color: #5e5e5e;
      }
    }
  }
}

@media (min-width: 800px) {
  h2 {
    font-size: 2em;
    letter-spacing: 0.2em;

    &:after {
      content: "";
      position: absolute;
      top: 1.5em;
      left: 50%;
      transform: translate(-50%);
      background-color: #028fcc;
      height: 0.3em;
      width: 5em;
    }
    margin-bottom: 1.8em;
    margin-top: 0.7em;
  }

  .offer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__text {
      padding-top: 2em;
      margin-bottom: 2em;
      text-align: center;
      font-size: 15px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
    &__cards {
      font-size: 15px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card {
    color: #5e5e5e;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    box-shadow: 0 35px 35px -25px rgba(10, 10, 10, 0.1);
    margin: 1em 0.5em;

    &__img {
      width: 100%;

      &-wrapper {
        overflow: hidden;
      }
    }

    &__text {
      padding: 0.2em 2em 1em;
      &-main {
        margin: 1em 1em 0.5em 0.5em;
        font-size: 1.05em;
      }
    }

    &__list {
      padding: 0;
      list-style: none;
      &-item {
        font-weight: 400;
        font-size: 0.9em;
        margin: 0.1em;
        margin-left: 2em;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          border-radius: 50%;
          top: 50%;
          left: -20px;
          transform: translate(-50%, -50%);
          height: 0.5em;
          width: 0.5em;
          background-color: #5e5e5e;
        }
      }
    }
  }
}
