h2 {
  position: relative;
  margin-bottom: 1.8em;
  margin-top: 0.7em;
}

h2:after {
  content: "";
  position: absolute;
  top: 1.5em;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #028fcc;
  height: 0.2em;
  width: 5em;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.offer__text {
  padding-top: 2em;
  text-align: center;
  font-size: 15px;
}

.offer__cards {
  font-size: 15px;
}

.card {
  color: #5e5e5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f4f4f4;
  margin: 1em 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.card__img {
  height: 350px;
  cursor: pointer;
}

.card__img-wrapper {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__text {
  padding: 0 1.5em 2em;
}

.card__text-main {
  margin: 1em 0.5em 0.5em;
}

.card__list {
  padding: 0;
  list-style: none;
}

.card__list-item {
  font-weight: 400;
  font-size: 0.9em;
  margin: 0.1em;
  margin-left: 2em;
  position: relative;
}

.card__list-item:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 0.5em;
  width: 0.5em;
  background-color: #5e5e5e;
}

@media (min-width: 800px) {
  h2 {
    font-size: 2em;
    letter-spacing: 0.2em;
    margin-bottom: 1.8em;
    margin-top: 0.7em;
  }
  h2:after {
    content: "";
    position: absolute;
    top: 1.5em;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    background-color: #028fcc;
    height: 0.3em;
    width: 5em;
  }
  .offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .offer__text {
    padding-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 15px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .offer__cards {
    font-size: 15px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .card {
    color: #5e5e5e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0 35px 35px -25px rgba(10, 10, 10, 0.1);
            box-shadow: 0 35px 35px -25px rgba(10, 10, 10, 0.1);
    margin: 1em 0.5em;
  }
  .card__img {
    width: 100%;
  }
  .card__img-wrapper {
    overflow: hidden;
  }
  .card__text {
    padding: 0.2em 2em 1em;
  }
  .card__text-main {
    margin: 1em 1em 0.5em 0.5em;
    font-size: 1.05em;
  }
  .card__list {
    padding: 0;
    list-style: none;
  }
  .card__list-item {
    font-weight: 400;
    font-size: 0.9em;
    margin: 0.1em;
    margin-left: 2em;
    position: relative;
  }
  .card__list-item:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: -20px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 0.5em;
    width: 0.5em;
    background-color: #5e5e5e;
  }
}
/*# sourceMappingURL=Offer.css.map */