.aplication {
  text-align: left;
  display: flex;
  flex-direction: column;

  h2:after {
    left: 2.5em;
  }

  &__text {
    padding: 1.5em;
    margin-bottom: 1em;
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin: 3em 0 0;
    input,
    textarea {
      padding: 1.1em 1.5em;
      font-family: montserrat;
      border: 0;
      background-color: #f4f4f4;
      margin: 0.3em 0;
      border-radius: 0.5em;

      &:focus {
        color: black;
      }
    }

    &__button {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__img {
    background-image: url("/images/company.jpg");
    background-size: cover;
    height: 40vh;
    width: 100vw;
    background-position-x: 500px;
  }
}

@media (min-width: 1200px) {
  .aplication {
    max-width: 100vw;
    overflow: hidden;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    &__text {
      padding-top: 4em !important;
      box-sizing: border-box;
      padding-right: 5em;
      align-items: flex-start;
      margin-bottom: 1em;
      margin-left: 30% !important;
      p {
        text-align: left;
      }
    }

    &__img {
      height: 100%;
      background-attachment: fixed;
      background-position: 25% 60%;
    }
  }
}
