.about {
  text-align: center;
  display: flex;
  flex-direction: column;

  .about__text {
    padding: 1.5em;
    margin-bottom: 1em;
  }

  .about__img {
    background-image: url("/images/company.jpg");
    background-size: cover;
    height: 40vh;
    width: 100vw;
  }

  .numbers {
    color: #f4f4f4;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 2em;
    background-color: #028fcc;
    ul {
      max-width: 1200px;
      list-style: none;
      padding: 1.7em 0;
      margin: 0 auto;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));

      li {
        margin: 1em 0;
        strong {
          font-size: 1.4em;
        }
        span {
          display: block;
        }
      }
    }
  }
}

.numbers {
  flex-basis: 100%;
  color: #f4f4f4;
  margin
  padding: 0 2em;
  background-color: #028fcc;
  ul {
    max-width: 1200px;
    list-style: none;
    padding: 1.7em 0;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));

    li {
      margin: 1em 0;
      strong {
        font-size: 2.5em;
      }
      span {
        display: block;
      }
    }
  }
}
@media (min-width: 1200px) {
  .about {
    height: 60vh;
    margin-top: 8em;
    max-width: 100vw;
    overflow: hidden;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    .about__text {
      padding-top: 4em !important;
      align-items: flex-start;
      margin-bottom: 1em;
      margin-left: 30% !important;
      p {
        text-align: left;
      }
    }

    .about__img {
      height: 100%;
      background-attachment: fixed;
      background-position: 25% 60%;
    }
  }

  .numbers {
    ul {
      padding-left: 12em;
    }
    li {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        border-radius: 3px;
        right: 6em;
        bottom: 0;
        background-color: #ebebeb;
      }
    }
    li:nth-last-child(1) {
      &::before {
        display: none;
      }
    }
  }
}
