.job {
  background-color: #028fcc;
  padding: 3.4em 0;
  color: white;

  &__text-main {
    font-size: 2.2em;
    margin: 0;
  }

  &__button {
    font-family: montserrat;
    background-color: transparent;
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 1.8em;
    padding: 0.6em;
    flex-basis: auto;
    border: 1px solid rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    align-self: center;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      background-color: #fff;
      color: rgb(58, 58, 58);
    }
  }
}

.map__google {
  height: 50vh;
  width: 100vw;
}

.contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  &__form {
    margin: 2em 0;
    display: flex;
    flex-direction: column;

    input,
    textarea {
      padding: 1.1em 1.5em;
      font-family: montserrat;
      border: 0;
      background-color: #f4f4f4;
      margin: 0.3em 0;
      border-radius: 0.5em;

      &:focus {
        color: black;
      }
    }

    &-button {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;

    h1 {
      font-size: 2em;
      span {
        font-weight: 400;
        color: #028fcc;
      }
    }

    h1,
    h2 {
      margin: 0.2em 0;
    }
    h2:after {
      display: none;
    }

    .destination {
      display: flex;
    }

    .info2 {
      text-align: left;
      padding: 1em 0;
      line-height: 1.4em;
    }
  }
}

@media (min-width: 800px) {
  .job {
    .container {
      display: flex;
      max-width: 800px;
      margin: 0 auto !important;
    }

    &__text-paragraph {
      margin-left: 0;
      padding-right: 3em;
    }
    &__button {
      font-size: 1em;
      font-weight: 00;
      margin-top: 0.8em;
      padding: 15px 15px;
    }
  }

  .map__google {
    height: 70vh;
    width: 100vw;
  }

  .contacts {
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2em auto 4em !important;
    &__info,
    &__form {
      align-self: center;
    }
  }
}
