.partners {
  text-align: center;
  margin-top: -10vh;
  margin-bottom: 5vh;
  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__img {
    filter: grayscale(100%);
    max-width: 100%;
    margin: 0.4em;
    &:hover {
      filter: grayscale(0%);
    }
  }
}

@media (min-width: 800px) {
  .partners {
    text-align: center;
    &__logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    &__img {
      align-self: center;
      justify-self: center;
      filter: grayscale(100%);
      max-width: 100%;
      margin: 0.4em;
      &:hover {
        filter: grayscale(0%);
      }
    }
  }
}
