.partners {
  text-align: center;
  margin-top: -10vh;
  margin-bottom: 5vh;
  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__img {
    filter: grayscale(100%);
    max-width: 100%;
    margin: 0.4em;
    width: 40%;
    &:hover {
      filter: grayscale(0%);
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 800px) {
  .partners {
    text-align: center;
    &__logos {
      display: flex;
      flex-wrap: nowrap;
    }
    &__img {
      align-self: center;
      justify-self: center;
      filter: grayscale(100%);
      width: 10%;
      margin: 0.4em;
      &:hover {
        filter: grayscale(0%);
        cursor: pointer;
      }
    }
  }
}
