.fixedMenu {
  color: rgb(44, 44, 44);
  font-weight: 500;
  position: fixed;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  z-index: 1;
  transition: 0.5s;

  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 18px 8px;
    background-color: rgb(212, 212, 212);
    transition: 0.2s;
  }
  .active {
    .dot {
      background-color: #028fcc;
      border: none;

      transform: scale(1.6);
    }
  }
}

@media (min-width: 800px) {
  .fixedMenu {
    left: 20px;
    margin: 10px;

    .dot {
      height: 12px;
      width: 12px;
    }
  }
}
